/****** Reset ******/
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/****** Styles ******/

/* html elements */
#container{
	width:100%;
	max-width: 960px;
	margin:auto;
	box-sizing:border-box;
	padding: 5%;
}

footer{
	padding: 10%;
}

.div-right, .div-left{
	width: 50%;
	text-align: center;
}

footer p{
	margin-bottom: 0;
}

table{
	font-family: 'Helvetica', Arial, sans-serif;
	color: #333333;
	text-align: center;
	width:100%;
	border-collapse:collapse;
}

tr,thead{
	width: 100%;
}

tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

tbody tr:nth-child(even) {
    background: #ffffff;
}

li{
	list-style: none;
	padding-bottom: 2%;
}

input{
	font-family: 'Helvetica', Arial, sans-serif;
	color: #333333;
	padding: .4em;
	width: 100%;
	border:1px solid #333333;
	border-radius: .5em;
	box-sizing:border-box;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear-fix{
	clear:both;
}


#joke{
	padding-top: 5%;
}


/* custom */
.button{
	cursor: pointer;
	font-family: 'Helvetica', Arial, sans-serif;
	border:1px solid #333333;
	background: transparent;
	color: #333333;
	transition: background .25s ease-in-out;
}

.button:hover{
	cursor: pointer;
	font-family: 'Helvetica', Arial, sans-serif;
	border:1px solid #333333;
	background: #333333;
	color: #ffffff;
}

.text-center{
	text-align: center;
}

.error{
	color: #F33E30;
}

.success{
	color: #7CC316;
}

.pad-top{
	padding-top: .2em;
}

.fadeIn{
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/****** Media Queries ******/

/*small*/
@media only screen and (max-width: 640px) { 
	body{
		font-size: 1rem;
		color: #333333;
	}

	h1{
		font-size: 3em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h3{
		font-size: 2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	h4{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	p{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		margin-bottom: 1em;
	}

	p#user-search-find{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1em;
		margin-bottom: 0;
	}

	li{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
	}

	table{
		margin-bottom: 1em;
	}

	th{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		padding: .2em;
	}

	td{
		font-size: .9em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: .5em;
	}

	input{
		margin-bottom: 1em;
	}

	#wrapper-left{
		width:100%;
		float: left;
	}

	#wrapper-right{
		width:100%;
		float: right;
	}

	.button, .button:hover{
		font-size: 1em;
		padding: .5em;
		border-radius: .5em;
	}

} 

/*medium*/
@media only screen and (min-width: 641px) and (max-width: 1024px) { 
	body{
		font-size: 1rem;
		color: #333333;
	}
	h1{
		font-size: 3.2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h3{
		font-size: 2.2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	h4{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	p{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		margin-bottom: 1em;
	}

	p#user-search-find{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1em;
		margin-bottom: 0;
	}

	li{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
	}

	th{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		padding: .2em;
	}

	td{
		font-size: .9em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: .5em;
	}

	#wrapper-left{
		box-sizing: border-box;
		width: 70%;
		float: left;
		padding-right: .3em;
	}

	#wrapper-right{
		box-sizing: border-box;
		width: 30%;
		float: right;
		padding-left: .3em;
	}

	.button, .button:hover{
		font-size: 1em;
		padding: .5em;
		border-radius: .5em;
	}

} 

/*large*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) { 
	body{
		font-size: 1rem;
		color: #333333;
	}
	h1{
		font-size: 3.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h3{
		font-size: 2.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	h4{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	p{
		font-size: 1.2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		margin-bottom: 1em;
	}

	p#user-search-find{
		font-size: 1.2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1em;
		margin-bottom: 0;
	}

	li{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
	}

	th{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		padding: 1em;
	}

	td{
		font-size: .9em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1em;
	}

	#wrapper-left{
		box-sizing:border-box;
		width:70%;
		float: left;
		padding-right: .3em;
	}

	#wrapper-right{
		box-sizing:border-box;
		width:30%;
		float: right;
		padding-left: .3em;
	}
	
	.button, .button:hover{
		font-size: 1em;
		padding: .5em;
		border-radius: .5em;
	}

} 

/*extra large*/
@media only screen and (min-width: 1441px) and (max-width: 1920px) { 
	body{
		font-size: 1rem;
		color: #333333;
	}
	h1{
		font-size: 3.7em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h3{
		font-size: 2.7em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	h4{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	p{
		font-size: 1.3em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		margin-bottom: 1em;
	}

	p#user-search-find{
		font-size: 1.3em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1em;
		margin-bottom: 0;
	}

	li{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
	}

	th{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		padding: .2em;
	}

	td{
		font-size: .9em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: .2em;
	}

	#wrapper-left{
		box-sizing:border-box;
		width:70%;
		float: left;
		padding-right: .3em;
	}

	#wrapper-right{
		box-sizing:border-box;
		width:30%;
		float: right;
		padding-left: .3em;
	}
	
	.button, .button:hover{
		font-size: 1em;
		padding: .5em;
		border-radius: .5em;
	}

} 

/*extra extra large*/
@media only screen and (min-width: 1921px) { 

	body{
		font-size: 2rem;
		color: #333333;
	}

	h1{
		font-size: 3em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: 1.5em;
	}

	h3{
		font-size: 2em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: 1.5em;
	}

	h4{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		margin-bottom: .4em;
	}

	p{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		margin-bottom: 1.5em;
	}

	p#user-search-find{
		font-size: 1.5em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: 1.5em;
	}

	li{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
	}

	th{
		font-size: 1em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: bold;
		padding: .2em;
	}

	td{
		font-size: .9em; 
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: normal;
		padding: .2em;
	}

	td a{
		text-decoration: none !important;
	}
	
	#wrapper-left{
		box-sizing:border-box;
		width:70%;
		float: left;
		margin-right: .3em;
	}

	#wrapper-right{
		box-sizing:border-box;
		width:30%;
		float: right;
		margin-left: .3em;
	}
	
	.button, .button:hover{
		font-size: 1em;
		padding: .5em;
		border-radius: .5em;
	}

} 